.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #0a3556;
  margin-bottom: 10px;
}
.description {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #0a3556;
  opacity: 0.8;
}

.form {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inputField {
  padding: 20px 12px;
  gap: 16px;

  height: 54px;
  font-size: 14px;
  color: #8095a6;
  opacity: 0.8;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}
.passwordContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.iconShow {
  position: absolute;
  right: 10px;
  color: #8095a6;
}
.checkboxContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #0a3556;
  font-size: 14px;
  opacity: 0.8;
}
.links {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #0a3556;
}
.bottum {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.actionContainer {
  text-align: center;
  margin: 10px 0;

  gap: 10px;
}

.loginGoogle {
  height: 54px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 20px 12px;
  gap: 16px;
}
