.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 54px 54px 54px 54px 54px 54px 54px;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'email'
    'password'
    'forgotPassword'
    'submit'
    'link'
    'or_br'
    'google';
  grid-area: container;
}

.email {
  grid-area: email;
}

.password {
  grid-area: password;
}

.forgotPassword {
  grid-area: forgotPassword;
}

.submit {
  grid-area: submit;
}

.link {
  grid-area: link;
}

.or_br {
  grid-area: or_br;
}

.google {
  grid-area: google;
}

.imageContainer {
  grid-area: imageContainer;
}
.inputField {
  padding: 20px 12px;
  gap: 16px;
  width: 430px;
  height: 54px;
  font-size: 14px;
  color: #8095a6;
  opacity: 0.8;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}
/* .container {







.iconShow {
  position: absolute;
  right: 10px;
  color: #8095a6;
}
.checkboxContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #0a3556;
  font-size: 14px;
  opacity: 0.8;
}
.links {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #0a3556;
}
.bottum {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.actionContainer {
  text-align: center;
  margin: 10px 0;

  gap: 10px;
}

.loginGoogle {
  height: 54px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 20px 12px;
  gap: 16px;
} */
