.container {
  padding: 20vh 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.leftContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  /* border: 0.5px solid #eeeeee; */
}
.imageContainer {
  position: relative;
  height: 120px;
  width: 100%;
  cursor: pointer;
  filter: drop-shadow(4px 6px 40px rgba(0, 0, 0, 0.05));
  border-radius: 16px;
}
.rightContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.midleContainer {
  flex: 3;
}
.selectedImage {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 1px solid #e6e6e6;
  filter: drop-shadow(4px 6px 40px rgba(0, 0, 0, 0.05));
}
.article-title-large {
  color: #0a3556;
  font-size: 36px;
  font-weight: 600;
}

.article-title {
  color: #0a3556;
  font-size: 24px;
  font-weight: 600;
}

.author-name {
  align-self: center;
  margin-left: 20px;
  font-weight: 600;
}

.blog {
  padding: 30px 0px;
  font-size: 15px !important;
}

.inspiration-icons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.price {
  font-size: 24px;
}

.button-icon {
  position: absolute;
  margin-top: 4px;
  margin-left: 10px;
}

.categories {
  margin: 30px 0 0 0;
  font-size: 16px;
  line-height: 27px;
  color: #0a3556;
}

.review {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #112b3c;
  opacity: 0.8;
}
