.productContainer {
  position: relative;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas: 'imagesContainer selectedImage descriptions';
  grid-area: productContainer;
  justify-items: stretch;

  // .images {
  //   & > * {
  //     border-radius: 8px;
  //   }

  //   position: relative;
  //   grid-area: images;
  //   display: grid;
  //   grid-template-columns: 120px;
  //   grid-template-rows: 1fr 1fr 1fr 1fr;
  //   gap: 0px 0px;
  //   grid-template-areas:
  //     'image1'
  //     'image2'
  //     'image3'
  //     'image4';
  //   grid-area: images;
  // }
  .imagesContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    & > {
      position: relative;
      width: 120px;
      height: 120px;
      overflow: hidden;
      margin: 100x;
    }
  }

  .selectedImage {
    grid-area: selectedImage;
    border: 1px solid #e6e6e6;
    filter: drop-shadow(4px 6px 40px rgba(0, 0, 0, 0.05));
    border-radius: 16px;
    overflow: hidden;

    .imageContainer {
      left: 100px;
      top: 100px;
      width: 50%;
      height: 50%;
      position: absolute;
    }
  }
  .descriptions {
    margin-left: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 22px 32px 45px 45px 40px 55px;
    gap: 37px;
    grid-template-areas:
      'title'
      'price'
      'rating'
      'desc'
      'actions'
      'categories';
    grid-area: descriptions;
  }
  .title {
    grid-area: title;
    font-weight: 600;
    font-size: 36px;
    color: #0a3556;
    padding: 0;
  }
  .price {
    grid-area: price;
    text-transform: capitalize;
    color: #97da0a;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
  }
  .rating {
    grid-area: rating;
  }
  .desc {
    grid-area: desc;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    padding-right: 100px;
    color: #112b3c;
    opacity: 0.8;
    .cartButtonContainer {
      width: 360px;
      height: 53px;
    }
    .addToCartStyle {
      width: 360px;
      height: 53px;
      width: 360px;
      height: 53px;
      background-color: #ffffff !important;
      border: 5px solid #0a3556;
      border-radius: 4px;
    }
  }
  .actions {
    grid-area: actions;
    .btnsContainer {
      width: 102px;
      background: #e7fcf8;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 19px;
      padding: 14px 12px;
    }
  }
  .categories {
    grid-area: categories;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #0a3556;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
/*
.container {
  padding: 20vh 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.leftContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;

}
.imageContainer {
  position: relative;
  height: 120px;
  width: 100%;
  cursor: pointer;
  filter: drop-shadow(4px 6px 40px rgba(0, 0, 0, 0.05));
  border-radius: 16px;
}
.rightContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.midleContainer {
  flex: 3;
}
.selectedImage {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 1px solid #e6e6e6;
  filter: drop-shadow(4px 6px 40px rgba(0, 0, 0, 0.05));
}
.article-title-large {
  color: #0a3556;
  font-size: 36px;
  font-weight: 600;
}

.article-title {
  color: #0a3556;
  font-size: 24px;
  font-weight: 600;
}

.author-name {
  align-self: center;
  margin-left: 20px;
  font-weight: 600;
}

.blog {
  padding: 30px 0px;
  font-size: 15px !important;
}

.inspiration-icons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.price {
  font-size: 24px;
}

.button-icon {
  position: absolute;
  margin-top: 4px;
  margin-left: 10px;
}

.categories {
  margin: 30px 0 0 0;
  font-size: 16px;
  line-height: 27px;
  color: #0a3556;
}

.review {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #112b3c;
  opacity: 0.8;
} */
