.card {
  width: 100%;
  padding: 50px;
  border: none;
}

.align-center {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.super-field {
  text-align: center;
  padding: 60px;
}
.card-title {
  font-size: 40px;
  color: #0a3556;
  font-weight: 700;
}

.card-sub {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 43px;
}
.BtnContainer {
  height: 100%;
  min-width: 270px !important;
  max-width: 370px !important;
  padding: 50px;
  margin: auto;
}
