.containerWhite {
  padding: 50px 4%;
  background-color: #fff;
}
.containerColored {
  padding: 50px 4%;
  background: linear-gradient(180deg, #ffffff 0%, #eaf9fa 100%);
}
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
