.containerWhite {
  padding: 50px 4%;
  background-color: #fff;
}
.containerColored {
  padding: 50px 100px;
  background: linear-gradient(180deg, #ffffff 0%, #eaf9fa 100%);
}
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
}
.gridContainer {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}
