.pakty-btn-primary {
  text-transform: uppercase !important;
  background-color: #11f4bd;
  border-color: #11f4bd;
  border-radius: 8px;
  color: #0a3556;
  cursor: pointer;

  display: flex;
  justify-content: center;
  text-align: center;
}

.has-link {
  position: absolute;
  margin-top: 3px;
  margin-left: 16px;
}
