.container {
  text-align: left;
  position: relative;
  width: 100%;
  height: 700px;
  left: 0px;
  top: 0px;
  filter: drop-shadow(4px 6px 40px rgba(0, 0, 0, 0.05));
  border-radius: 0px 0px 50px 50px;
  overflow-x: hidden;

  .imageContainer {
    position: relative;
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .title {
    position: absolute;
    width: 479px;
    height: 40px;
    left: 100px;
    top: 200px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #ffffff;
    margin: 0;
  }
  .content {
    position: absolute;
    width: 379px;
    height: 62px;
    left: 100px;
    top: 300px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #ffffff;

    opacity: 0.8;
  }
  .btnContainer {
    position: absolute;
    left: 100px;
    top: 420px;
    .style {
      width: 240px;
      height: 60px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      padding: 18px 38px;
    }
  }
}
