.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
  padding: 50px 0;
  flex-wrap: wrap;
}
.imageContainer {
  position: relative;
  height: 624px;
  width: clamp(350px, 40vw, 600px);
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(350px, 40vw, 600px);
}

.top {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
}
.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;

  color: #0a3556;
}
.desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #112b3c;
}
