.container {
  width: 100%;
  padding-top: 100px;
  height: 374px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #0a3556;
  color: #fff;
}

.imageContainer {
  position: relative;
  width: 112.34px;
  height: 28.81px;
}
.left,
.midle,
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
}
.midle {
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  flex: 5;
}
.about,
.company,
.support {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footerItemTitle {
  color: #fff !important;
  margin-bottom: 5px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
}
.footerItem {
  color: #fff !important;
  font-family: 'Poppins';
  font-size: 14px;
  padding: 4px !important;
}
.RightFooterItem {
  display: flex;
  gap: 10px;
}
.newsletter {
  width: 100%;
  height: 45px;
}
.btnContainer {
  position: relative;
  width: 100%;
  height: 45px;
}
