.container {
  width: clamp(200px, 100%, 450px);

  height: 457px;
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  overflow: hidden;
  box-shadow: 4px 6px 40px rgba(0, 0, 0, 0.15);
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 227px;
  border-radius: 24px 24px 0px 0px;
  overflow: hidden;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.descriptionTop {
  width: 100%;
  height: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #112b3c;
}
.descriptionBottum {
  width: 100%;
  height: 66px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #112b3c;
  opacity: 0.8;
}
