.container {
  position: relative;
  height: 457px;
  filter: drop-shadow(4px 6px 40px rgba(0, 0, 0, 0.05));
}
.imageContainer {
  position: absolute;
  width: 100%;
  height: 227px;
  left: 0;
  top: 0px;
}
.description {
  position: absolute;
  width: 100%;
  height: 229.4px;
  left: 0;
  top: 227px;
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 21px;
  padding: 30px 40px;
}

.descriptionTop {
  color: #112b3c;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.descriptionBottum {
  font-weight: 500;
  font-size: 14px;
  color: #112b3c;
  line-height: 160%;
  opacity: 0.8;
}
