.cardContainer {
  display: flex;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.mediaContainer {
  width: 45%;
  position: relative;
  width: 100%s;
  height: 460px;
  border-radius: 16px;
}
.contentContainer {
  width: 45%;
  height: 460px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}

.buttonContainer {
  width: 220px;
}
.title {
  font-size: 26px;
  color: #0a3556;
  font-weight: 700;
}

.descriptionContainer {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #112b3c;
  opacity: 0.8;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
  }
  .mediaContainer,
  .contentContainer {
    width: 100%;
  }
}
