.cardContainer {
  display: flex;
  width: 92%;
  height: 428px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.mediaContainer {
  flex: 1;
  position: relative;
  width: 575px;
  height: 428px;
  border-radius: 16px;
}
.contentContainer {
  flex: 1;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}
.descriptionContainer {
  width: 90%;
}
.buttonContainer {
  width: 220px;
}
.title {
  font-size: 40px;
  color: #0a3556;
  font-weight: 700;
}

.descriptionContainer {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 43px;
}
