.mainContainer {
  position: relative;
  padding: 54px 0 123px 0;
  height: 2893px;
  .filterContainer {
    padding: 0 0 60px 100px;
  }
  .collectionContainer {
    position: relative;
    height: 2893px;
  }
  .paginationContainer {
    position: absolute;
    bottom: 100px;
    left: calc(50% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
