.children {
  max-width: 1440px;
  width: 100%;
}
.container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
