.slider-content {
  font-family: 'Montserrat';
  position: relative;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  top: 224px;
  left: 55px;
  color: #fff !important;
}

.slider-title {
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
}

.slider-text {
  font-size: 24px;
  font-weight: 600;
  width: 379px;
  font-weight: 600;
  line-height: 130%;
}
.slider-action {
  margin-top: 30px;
}
