.like-Button {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #0a3556;
  padding-top: 6px;
  border-color: transparent;
  /* height: 36px;
    width: 36px; */
}
