@import './variables.scss';

.container {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 490px;
  gap: 0px 0px;
  grid-auto-flow: column;
  align-content: start;
  grid-template-areas:
    'title title title'
    'blogsContainer blogsContainer blogsContainer';

  .title {
    grid-area: title;
  }
  @media only screen and (max-width: $breakpoint-large) {
    height: 10000px;
  }
  .blogsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 479px;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas: 'blog1 blog2 blog3';
    grid-area: blogsContainer;

    .blog1 {
      position: relative;
      grid-area: blog1;
    }

    .blog2 {
      position: relative;
      grid-area: blog2;
    }

    .blog3 {
      position: relative;
      grid-area: blog3;
    }
    @media only screen and (max-width: $breakpoint-large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 479px 479px;
      gap: 0px px;
      grid-auto-flow: row;
      grid-template-areas:
        'blog1 blog2'
        'blog3 blog3';
      justify-items: stretch;
      .blog1 {
        grid-area: blog1;
      }

      .blog2 {
        grid-area: blog2;
      }

      .blog3 {
        margin: 0 auto;
        width: 376px;
        grid-area: blog3;
      }
    }
  }
}
