.container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 50px;
}

.CardsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  gap: 10px;
}
.cardContainer {
  width: clamp(200px, 200px + 10vw, 500px);
}
