.container {
  height: 745px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.CardsContainer {
  width: 100vw;

  display: flex;
  justify-content: center;
  gap: 20px;
}
