.leftContainer > * {
  border-radius: 10px;
}
.leftContainer > .images {
  width: 100%;
  height: 100%;
  position: relative;
}

.leftContainer {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  height: 460px;
}

.div1 {
  grid-area: 1 / 1 / 4 / 3;
}
.div2 {
  grid-area: 1 / 3 / 3 / 5;
}
.div3 {
  grid-area: 4 / 1 / 6 / 3;
}
.div4 {
  grid-area: 3 / 3 / 6 / 5;
}
