.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 85px 340px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'title'
    'description'
    'content';
}

.title {
  grid-area: title;
  .cardTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #0a3556;
  }
}

.description {
  grid-area: description;
  font-weight: 500;
  font-size: 20px;
  line-height: 95.6%;
  color: #112b3c;
}

.content {
  grid-area: content;
}

.textTitle {
  grid-area: textTitle;
}

.textDesc {
  grid-area: textDesc;
}

.textBtn {
  grid-area: textBtn;
}
