.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top {
  text-align: center;
  padding: 0 0 50px 0;
}
.cardTitle {
  font-weight: 700;
  font-size: 30px;
  color: #0a3556;
}
.cardBigMediaContainer {
  height: 100%;
}
