* {
  box-sizing: border-box;
  /* transition: all 0.5s ease; */
}

body {
  margin: 0;
  font-family: Montserrat;
}

p {
  opacity: 0.8 !important;
  line-height: 24px !important;
}

code {
  font-family: 'Montserrat';
}

.pakty-btn-primary {
  text-transform: uppercase !important;
  background-color: #11f4bd;
  border-color: #11f4bd;
  color: #0a3556;
  font-weight: 600;
  height: 48px;
}

.pakty-btn-outlined {
  text-transform: uppercase !important;
  border-radius: 4px;
  border-color: #0a3556;
  color: #0a3556;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pakty-btn-primary.ant-btn-lg {
  height: 50px !important;
}

.ant-btn {
  padding: auto 18px !important;
}

.header-custom {
  background-color: transparent !important;
  color: white;
}

.rounded.ant-image-img {
  border-radius: 24px !important;
  filter: drop-shadow(0px 3.51978px 43.9972px rgba(0, 0, 0, 0.1));
}

.text-center {
  text-align: center;
}

.py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.ant-menu-item-selected {
  color: white !important;
}

.ant-menu-item-active::after,
.ant-menu-item-selected::after {
  border-bottom-color: white !important;
}

.normal .ant-menu-item-selected {
  color: #000 !important;
}

.normal .ant-menu-item-active::after,
.normal .ant-menu-item-selected::after {
  border-bottom-color: #000 !important;
}

.ant-menu-horizontal {
  border-bottom-color: transparent !important;
}

.custom-header .ant-menu-horizontal {
  border-bottom-color: transparent !important;
}

header.ant-layout-header.custom-header {
  background-color: transparent !important;
}

.normal.ant-layout-header {
  background: none;
  background-color: #fff !important;
}

.text-green {
  color: #11f4bd !important;
}

.text-blue {
  color: #0a3556 !important;
}

.ant-image {
  display: block !important;
}

.ant-input {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-link {
  display: flex;
  color: #0a3556 !important;
  font-size: 16px;
  font-weight: 600;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.text-date {
  color: #7c8b94;
  font-size: 14px;
  font-weight: 400;
}

.transform-uppercase {
  text-transform: uppercase !important;
}

.mx-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.py-20 {
  padding: 10px 0px;
}

.pakty-btn-outlined.large {
  padding: 0px 40px;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #97da0a !important;
}

.buttons .ant-radio-button-wrapper {
  background-color: #b3bfca33;
  font-size: 15px;
  font-weight: 600;
  color: #0a3556;
  border-color: transparent;
  padding-top: 8px;
  height: 48px;
}

.buttons.green .ant-radio-button-wrapper {
  background-color: #e7fcf8;
  font-size: 15px;
  font-weight: 600;
  color: #0a3556;
  border-color: transparent;
  padding-top: 8px;
  height: 48px;
}

.ant-tabs-tab-btn {
  color: #0a355640;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #0a3556 !important;
}

.ant-tabs .ant-tabs-ink-bar {
  border: 2px solid #0a3556;
}

a {
  color: unset;
  text-decoration: none;
}
/* ****************************** */
/* old app.css */

/* .site-layout-content {
  min-height: 280px;
  top: 0;
} */
/* #components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
} */
/* .ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
} */

/* .custom-menu {
  background-color: transparent !important;
} */

/* ******************************* */
.titleFragments {
  font-size: 40px;
  color: #0a3556;
  font-weight: 700;
}
