//  media query breack point
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// global page dimentions
$left-margin: 100px;
$right-margin: 100px;

$max-width: 1440px;

// coloration
