.container {
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;

  .imageContainer {
    position: relative;
    width: 100%;
  }
  .description {
    text-align: start;
    position: absolute;
    left: 100px;
  }

  .title {
    position: absolute;

    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
  }
  .content {
    position: absolute;
    width: 500px;
    height: 62px;
    top: 100px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    opacity: 0.8;
  }
  .btnContainer {
    flex: 1;
    width: calc(100px + 10vw);
    height: 60px;
    background: #11f4bd;
    border-radius: 8px;
    margin-top: 60px;
  }
}
