.container {
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
}
.imageContainer {
  position: relative;
  width: 100%;
}
.description {
  position: absolute;
}

.title {
  position: absolute;
  width: 479px;
  height: 40px;
  left: 136px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  /* identical to box height, or 40px */
}
.content {
  position: absolute;
  width: 379px;
  height: 62px;
  left: 135px;
  top: 319px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  opacity: 0.8;
}
.btnContainer {
  flex: 1;
  width: calc(100px + 10vw);
  height: 60px;
  background: #11f4bd;
  border-radius: 8px;
  margin-top: 60px;
}
