.container {
  width: 100%;
  position: relative;
  border-radius: 0px 0px 50px 50px;
}
.imageContainer {
  position: relative;
  width: 100%;
}
.contentContainer {
  position: absolute;
  top: 170px;
  left: 50px;
  display: flex;
  flex-direction: column;

  /* justify-content: space-between; */
  align-items: flex-start;
  /* height: 230px; */
  color: #ffffff;
}
.title {
  flex: 1;
  width: 70%;
  /* height: 40px; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  /* line-height: 100%; */
  /* identical to box height, or 40px */
}
.content {
  flex: 1;

  width: 70%;
  height: 62px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  opacity: 0.8;
}
.btnContainer {
  flex: 1;
  width: calc(100px + 10vw);
  height: 60px;
  background: #11f4bd;
  border-radius: 8px;
  margin-top: 60px;
}
