.container {
  position: relative;
  height: 1291px;
  max-width: 1440px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  flex-direction: column;

  .galeryContainer {
    // top: 258px;
    padding: 0 100px;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 807px;
  }
  .super-field {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 17px;

    .card-title {
      font-size: 40px;
      color: #0a3556;
      font-weight: 700;
    }

    .card-sub {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .btnContainer {
    .btnStyle {
      width: 267px;
      height: 56.02px;
      font-size: 16px;
      font-weight: 600;
      box-shadow: 4px 6px 40px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      display: flex;
      padding: 18.0094px 0px;
    }
  }
}
