.container {
  transition: all 1s ease;
  /* transition: color 0.2s ease; */

  z-index: 999;
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 0 50px;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoContainer {
  position: relative;
  width: 108.73px !important;
  height: 28.81px !important;
  flex: 1;
}

.navbarContainer {
  display: flex;
  flex: 10;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 2vw;
}
.active {
  border-bottom: 2px solid #385974;
}
.navItem {
  position: relative;
}
.navItem::after {
  background-color: #d6d6d6;
  content: '';
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;
  transition: width 0.35s ease 0s;
  position: absolute;
}
.text-white {
  color: white !important;
}
.btnContainer {
  width: clamp(100px, 50%, 200px);
}
.navItem:hover::after {
  width: 100%;
}
/* .UserNavContainer {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  justify-content: space-between;
  list-style: none;
} */
.nothomeNavItem {
  position: relative;
}

.nothomeNavItem::after {
  background-color: #385974;
  content: '';
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;
  transition: width 0.35s ease 0s;
  position: absolute;
}
.nothomeNavItem:hover::after {
  width: 100%;
}
