@import './variables.scss';

.headerContainer {
  max-width: $max-width;
  position: fixed;
  height: 96px;
  width: 100%;
  top: 0;
  transition: all 1s ease;
  z-index: 999;
  padding: 0 100px;

  .navBarContainer {
    height: 96px;
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 'logo navBar userBar';
    align-items: center;

    .navItem:hover::after {
      width: 100%;
    }

    .notHomeNavItem {
      position: relative;
      font-size: 14px;
    }

    .notHomeNavItem::after {
      background-color: #385974;
      content: '';
      width: 0;
      height: 2px;
      left: 0;
      bottom: -2px;
      transition: width 0.35s ease 0s;
      position: absolute;
    }
    .notHomeNavItem:hover::after {
      width: 100%;
    }
  }

  .logo {
    grid-area: logo;
    position: relative;
    height: 28.81px;
    width: 108px;
  }

  .navBar {
    grid-area: navBar;
    margin: 0 20px 0 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 10px;
    align-items: end;
    justify-content: end;
    text-align: center;

    .navItem {
      padding: 0;
      margin: 0;
      font-size: 14px;
     
    }
    @media only screen and (max-width: $breakpoint-large) {
      display: none;
    }
  }

  .userBar {
    padding: 0 ;
    grid-area: userBar;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'hifen login designBtn cart';
    align-items: center;
    justify-content: space-between;
    gap: 0px 10px;
    .userImage{
      position: relative;
      width: 40px;
      height:40px;
    }
    .hifen {
      grid-area: hifen;
    }
    .login {
      grid-area: login;
    }
    .designBtn {
      grid-area: designBtn;
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      .btnDimension {
        width: 190px;
        height: 48px;
        padding: 12px 12px;
        font-size: 14px;
      }
     
    }
    .cart {
      grid-area: cart;
      padding-left: 20px;
    }
  }
}
