.container {
  max-width: 1440px;
  padding: 50px 100px;
  margin: auto;
  text-align: left;
}
.desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  color: #112b3c;
  padding: 50px 0;
}
.text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 95.6%;
  color: #112b3c;
}
.btnStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 36px;
  gap: 8px;
  width: 1169px;
  height: 60px;
  background-color: #11f4bd;
  border-radius: 8px;
}
.inputField {
  padding: 20px 12px;
  gap: 16px;
  width: 100%;
  height: 54px;
  font-size: 14px;
  color: #0b0c0e;
  opacity: 0.8;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}
