.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 0 0 0;
}

.filterTitle {
  font-size: 20px;
  font-weight: 500;
  color: #112b3c;
  line-height: 95.6%;
  padding: 10px 0 10px 15px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.button.ant-btn-default:not(:disabled):hover {
  border: 2px solid #11f4bd;
  color: #0a3556;
}
