.cardContainer {
  position: relative;
  width: 277px;
  height: 350.91px;
  background: linear-gradient(0deg, #ffffff, #ffffff);

  border: 0.965274px solid #e6e6e6;
  box-shadow: 3.8611px 5.79164px 38.611px rgba(0, 0, 0, 0.05);
  border-radius: 15.4444px;
}

.likeButtonContainer {
  position: absolute;
  left: 226.95px;
  top: 29.06px;
}

.imageContainer {
  position: absolute;
  top: 64.29px;
  left: 64px;
  width: 151.82px;
  height: 162px;
}

.price {
  position: absolute;
  width: 45px;
  height: 18px;
  left: 14.25px;
  top: 318.79px;
  font-style: normal;
  font-weight: 700;
  font-size: 17.0826px;
  line-height: 17px;
  color: #97da0a;
}

.title {
  position: absolute;
  width: 141px;
  height: 18px;
  left: 14.25px;
  top: 293.16px;
  font-style: normal;
  font-weight: 600;
  font-size: 14.2355px;
  line-height: 17px;
  color: #0a3556;
}

.description {
  font-size: 16px;
  font-weight: 14px;
  margin: 10px 0;
}

.shopBtnContiner {
  position: absolute;
  width: 35.59px;
  height: 35.59px;
  left: 229.49px;
  top: 300.79px;
}
