.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 350.91px;
  padding: 4px 2px 20px 2px;
  background-color: #ffffff;
  border: 0.965274px solid #e6e6e6;
  box-shadow: 3.8611px 5.79164px 38.611px rgba(0, 0, 0, 0.2);
  border-radius: 15.4444px;
}
.upperContent {
  z-index: 99;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.likeButtonContainer {
}

.imageContainer {
  position: relative;
  height: 40%;
  width: 40%;
}
.BottumContent {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 90%;
}
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  width: 90%;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #97da0a !important;
}

.title {
  font-size: 18px;
  color: #0a3556;
  width: 141px;
  font-style: normal;
  font-weight: 600;
  font-size: 14.2355px;
  line-height: 17px;
}

.description {
  font-size: 16px;
  font-weight: 14px;
  margin: 10px 0;
}

.shopBtnContiner {
}
