.cardContainer {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 24px;
  background-color: #fff;
  gap: 20px;
  height: 487px;
}

.imageContainer {
  position: relative;
  border-radius: 24px;
  width: 100%;
  height: 300px;
}

.cardBody {
  color: #0a3556;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.title {
  color: #112b3c;
  font-size: 20px;
  font-weight: 600;
}

.content {
  font-size: 16px;
  font-weight: 14px;
  color: #7c8b94;
}
.textDate {
  font-size: 14px;
  line-height: 22px;
  color: #7c8b94;
}
.readMore {
  display: flex;
  justify-content: center;
  align-items: center;
}
