.cardContainer {
}

.planContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  height: 512px;
  background: #ffffff;
  border-radius: 24px;
  padding: 40px 30px 0 30px;
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0a3556;
}

.price {
  font-weight: 600;
  font-size: 32px;
  line-height: 17px;
  color: #97da0a;
}
.description {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #112b3c;
  opacity: 0.8;
  list-style: disc !important;
  text-align: left;
}
.dots {
  font-size: 24px;
}
