.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  display: inline-flex;
  margin: auto;
  gap: 30px 10px;
}
.card {
  flex-basis: calc(25% - 50px);
  max-width: calc(25% - 20px);
  padding: 20px;
}
.btnContainer {
  position: relative;
}
