.container {
  padding: 50px 0;
  position: relative;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
  grid-auto-flow: column;
  grid-auto-flow: row;
  grid-template-areas: '. . . .';
  grid-area: cartContainer;
}
.cartContainer {
  position: relative;
  max-width: 300px;
}
.btnContainer {
  position: relative;
}
