.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  display: inline-flex;
  padding: 50px 0;
  margin: auto;
  gap: 20px;
}

.btnContainer {
  position: relative;
}
