.container {
  width: 40px;
  height: 40px;
  background: #11f4bd;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0a3556;

  display: flex;
  align-items: center;
  justify-content: center;
}
