.container > * {
  border-radius: 10px;
}
.container > .images {
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  margin: 20px auto;
  width: 100%;
  height: 120vh;
}

.div1 {
  grid-area: 1 / 1 / 4 / 4;
}
.div2 {
  grid-area: 1 / 4 / 5 / 7;
}
.div3 {
  grid-area: 1 / 7 / 4 / 10;
}
.div4 {
  grid-area: 4 / 1 / 8 / 4;
}
.div5 {
  grid-area: 5 / 4 / 8 / 7;
}
.div6 {
  grid-area: 4 / 7 / 8 / 10;
}

@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div6 {
    grid-area: 3 / 2 / 4 / 3;
  }
}

@media only screen and (max-width: 470px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 3fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    max-width: 80%;
    height: 280vh;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div6 {
    grid-area: 6 / 1 / 7 / 2;
  }
}
