.container {
  width: 92%;
  margin: auto;
  padding: 100px 0;
}
.topPostcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TopImageContainer {
  position: relative;
  border: 1px solid #e6e6e6;
  /* filter: drop-shadow(4px 6px 40px rgba(0, 0, 0, 0.05)); */
  border-radius: 24px;
  overflow: hidden;
  width: 100%;
  height: 600px;
  margin: 20px 0;
}
.date {
  font-size: 14px;
  line-height: 22px;
  color: #7c8b94;
}
.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  color: #0a3556;
}
.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.authorImage {
  position: relative;
  width: 35px;
  height: 35px;
  box-shadow: 6.53714px 6.53714px 16.3429px rgba(0, 14, 46, 0.05);
  border-radius: 8px;
}
.authorName {
  font-weight: 600;
  font-size: 14px;
  color: #112b3c;
}

.textBody {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #112b3c;
  opacity: 0.8;
}
.section {
  margin: 50px 0;
}
.sectionImageContainer {
  position: relative;
  width: 100%;
  height: 428px;
}
