.container {
  padding: 100px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'imageContainer'
    'article'
    'youmyAlsoLike';

  .imageContainer {
    grid-area: imageContainer;
    position: relative;
    height: 600px;
  }

  .article {
    grid-area: article;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      'articleInfo'
      'articleContent';

    .articleInfo {
      margin: 10px 0;
      grid-area: articleInfo;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      .date {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #7c8b94;
      }
      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 100%;
        color: #0a3556;
      }
      .author {
        .authorName {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;

          color: #112b3c;
        }
        .authorImage {
          position: relative;
          width: 4445px;
          height: 35px;
        }
      }

      .articleContent {
        grid-area: articleContent;
        text-align: left;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #112b3c;
        opacity: 0.8;
        .section {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
          gap: 0px 0px;
          grid-auto-flow: row;
          grid-template-areas: 'left right';

          .left {
            grid-area: left;
          }

          .right {
            grid-area: right;
            position: absolute;
            width: 575px;
            height: 428px;
            left: 731px;
            top: 1320px;

            border-radius: 16px;
          }
        }
      }
    }

    .youmyAlsoLike {
      grid-area: youmyAlsoLike;
    }
  }
}
