.container {
  height: 946px;
  background: #e7fff9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtitle {
  width: 863px;
  height: 52px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;

  color: #112b3c;

  opacity: 0.8;
}
.imageContainer {
  width: 1169px;
  height: 578px;
  position: relative;
  overflow: hidden;

  border: 1px solid #e6e6e6;
  /* Drop Shadow */

  box-shadow: 4px 6px 40px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}
.imageContainer:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  z-index: 99;
}
