.roundedButton {
  width: 30.02px;
  height: 30.02px;
  background-color: #ffffff;
  box-shadow: 0px 4px 14px rgba(238, 233, 233, 0.949);
  border-radius: 75.0391px;
  border: none;
  cursor: pointer;
}

.roundedButton:hover {
  background-color: rgb(7, 201, 176);
  color: white;
}

.roundedIcon {
  font-size: 10px;
  font-weight: 500;
  color: #0a3556;
}
