.container {
  padding: 40px 100px;
}
.explore3dContainer {
  margin-top: 140px;
}
.tryOurFreeContainer {
  position: relative;
  margin-top: 250px;
}
.planContainer {
  margin-top: 140px;
}
.contactUsContainer {
  margin-top: 50px;
  margin-bottom: 150px;
}
